{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1 class="text-3xl text-blue font-bold">
		Welcome to my website !
	</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<button>
		Discover
	</button>

	<img src="/assets/img/portrait.jpg" alt="">


	<h2 class="text-3xl text-blue font-bold">
		About
	</h2>
	<img src="" alt="">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>

	<button>
		Learn more
	</button>
	<button>
		Book an appointment
	</button>

	<h2 class="text-3xl text-blue font-bold">
		Customer reviews
	</h2>

	<h2 class="text-3xl text-blue font-bold">
		Contact
	</h2>

	<form>
		<input id="lastname" type="text" class="border" placeholder="Enter your last name">
		<input id="firstname" type="text" class="border" placeholder="Enter your first name">
		<input id="tel" type="tel" class="border" placeholder="Enter your phone number">
		<input id="email" type="email" class="border" placeholder="Enter your address e-mail">
		<input id="password" type="password" class="border" placeholder="Enter your password">
		<input id="confirmPassword" type="password" class="border" placeholder="Confirm your password">
		<textarea id="message" name="message" rows="5" cols="33" class="border" placeholder="Write your message...">
		</textarea>
         <input id="default-checkbox" type="checkbox" value="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
	</form>

{% endblock %}
