{% extends 'base.html.twig' %}

{% block title %}Lien de réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container mx-auto text-center text-brown">
    <p>
            Un lien vient de vous être envoyé pour réinitialiser votre mot de passe. Ce lien expérirera dans une une heure. {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas votre demande, consultez les spams ou réessayez d'envoyer votre demande <a href="{{ path('app_forgot_password_request') }}">ici</a>.</p>
</div>
{% endblock %}
