{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block body %}
<div class="container m-auto">
    <div class="flex flex-col justify-center items-center text-center">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

   <h1 class="text-4xl md:text-3xl text-blue font-bold pb-5">
		Mot de passe oublié ?
	</h1>

    {{ form_start(requestForm) }}
        <p class="text-brown pb-5">
            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe. 
        </p>
    {{ form_row(requestForm.email) }}
    
    <button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">Envoyer</button>
    {{ form_end(requestForm) }}
        </div>
    </div>
</div>
{% endblock %}
