{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10 w-3/6">
    	<div class="flex flex-col justify-start">
		<h1 class="font-neuton text-4xl md:text-3xl text-blue font-bold pb-5 text-center">
			Politique de confidentialité
		</h1>

		<h2 class="text-3xl md:text-2xl text-blue font-bold">
			Introduction
		</h2>
		<p>
			Bienvenue sur May-Dia Coach Dévelppement Personnel. La présente politique de confidentialité explique comment nous collectons, utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez notre Site et nos services. En accédant à et en utilisant notre Site, vous acceptez les termes et conditions de cette Politique.
		</p>

		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Collecte des Informations
		</h2>

		<p>
			Nous collectons différents types d'informations afin de vous fournir une expérience optimale et améliorer nos services. Les types d'informations que nous pouvons collecter incluent :
		</p>

		<ol class = "list-decimal">
			<li>
				<b>Informations Personnelles</b> : telles que votre nom, adresse e-mail, adresse postale, numéro de téléphone, etc., que vous nous fournissez volontairement lors de l'inscription ou de l'utilisation de nos services.
			</li>
			<li>
				<b>Informations de Navigation</b> : telles que l'adresse IP, le type de navigateur, les pages visitées, l'heure et la date des visites, etc., collectées automatiquement lorsque vous utilisez notre Site.
			</li>
		</ol>

		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Utilisation des Informations
		</h2>

		<p>
			Les informations collectées sont utilisées pour diverses finalités, notamment :

			<ol class = "list-decimal">
				<li>
					<b>Prestation des Services</b> : pour fournir, exploiter et maintenir nos services.</li>
				<li>
					<b>Communication</b> : pour vous contacter concernant des mises à jour, des offres promotionnelles, des notifications, et d'autres informations en rapport avec nos services.</li>
				<li>
					<b>Amélioration de nos Services</b> : pour analyser l'utilisation du Site et améliorer notre offre.</li>
				<li>
					<b>Sécurité</b> : pour protéger nos utilisateurs et notre Site contre toute activité malveillante.</li>

			</ol>
		</p>

		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Partage des Informations
		</h2>

		<p>
			Nous nous engageons à ne pas vendre, louer ou échanger vos informations personnelles à des tiers sans votre consentement, sauf dans les cas suivants :
			<ol class = "list-decimal">
				<li>
                    <b>Fournisseurs de Services</b> : nous pouvons partager vos informations avec des fournisseurs tiers qui nous assistent dans l'exploitation du Site et la prestation de nos services.</li>
				<li>
                    <b>Obligations Légales</b> : nous pouvons divulguer vos informations si cela est requis par la loi ou en réponse à des demandes légales.</li>
				<li>
                    <b>Protection des Droits</b> : pour protéger les droits, la propriété ou la sécurité de May-Dia Coach Développement Personnel, de nos utilisateurs ou d'autres personnes.
                </li>
			</ol>


		</p>

        <h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
		    Sécurité des Informations
        </h2>
        <p>
            Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre toute perte, utilisation abusive, accès non autorisé, divulgation, altération et destruction. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue.
        </p>
		
        <h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
		    Vos Droits
        </h2>
        <p>
		En fonction de la législation applicable, vous pouvez avoir certains droits concernant vos informations personnelles, y compris :
            <ol class = "list-decimal">
                <li>
                    <b>Accès et Rectification</b> : le droit d'accéder à vos informations personnelles et de demander leur correction si elles sont inexactes.
                </li>
                <li>
                    <b>Suppression</b> : le droit de demander la suppression de vos informations personnelles dans certaines conditions.
                </li>
                <li>
                    <b>Opposition </b>: le droit de vous opposer à certains traitements de vos informations personnelles.
                </li>
                <li>
                    <b>Portabilité</b>: le droit de recevoir vos informations personnelles dans un format structuré, couramment utilisé et lisible par machine.
                </li>
            </ol>
		</p>

        <h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
            Modifications de la Politique
        </h2>
		<p>
            Nous nous réservons le droit de modifier cette Politique à tout moment. Toute modification sera publiée sur cette page avec la date de révision mise à jour. Nous vous encourageons à consulter régulièrement cette page pour rester informé de toute modification.
		</p>
        
        <h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
		    Contact
        </h2>

        <p>
		Si vous avez des questions ou des préoccupations concernant cette Politique ou nos pratiques de confidentialité, veuillez nous contacter à [adresse e-mail de contact].
		</p>

        <h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
		Conclusion
        </h2>
        <p>
        	En utilisant notre Site et nos services, vous reconnaissez avoir lu et compris cette Politique de Confidentialité et acceptez nos pratiques concernant la collecte, l'utilisation et le partage de vos informations. Merci de faire confiance à [Nom du Site] pour protéger vos informations personnelles.
        </p>
	
		<p>
            Date de révision : 22 Mai 2024
        </p>
        </div>
	</div>
{% endblock %}
