{% extends 'base.html.twig' %}

{% block title %}Add appointment{% endblock %}

{% block body %}
<div class="container mx-auto py-10">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-3xl text-blue font-bold pb-5">
           Add appointment
        </h1>
    {{ form_start(appointmentForm) }}
        <button type="submit" class="btn bg-blue border-2 border-blue rounded-full text-white px-10 py-3">
            Confirm
        </button>
    {{ form_end(appointmentForm) }}
    </div>
</div>
{% endblock %}
