{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block body %}
	<div class="container m-auto w-9/12 flex flex-col justify-center items-center">
		<h1 class="font-neuton text-3xl md:text-4xl text-blue font-bold pb-5">
			Le rendez-vous a bien été supprimé.
		</h1>

        <a href=" {{ path('app_admin') }}">
			<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
				Compte admin
			</button>
		</a>
	</div>
{% endblock %}