{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
<div class="container mx-auto w-9/12 flex flex-col justify-center pt-10 py-5">
    <h1 class="text-3xl text-blue font-bold pb-5">Write a review</h1>

    {{ include('review/_form.html.twig') }}

    <a href="{{ path('app_review_index') }}">back to list</a>
</div>
{% endblock %}
