{% extends 'base.html.twig' %}

{% block title %}Registration confirmed
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-row justify-center items-center">
			<h2 class="text-3xl text-blue font-bold pb-5">
				Confirm register
			</h2>

			<p class="text-brown pb-5">
				Your account has been registered.
				A confirmation email will be sent to you.
			</p>

			<button id="login-modal-btn" class="btn bg-blue border-2 border-blue rounded-full text-white px-10 py-3">
				Login
			</button>
		</div>
	</div>
{% endblock %}
