{% extends 'base.html.twig' %}

{% block title %}Accès non autorisé{% endblock %}

{% block body %}
<div class="container m-auto">
		<div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-3xl text-blue font-bold pb-5">
            Accès non autorisé
            </h1>
            <p class="text-red mb-5">
                {{ message }}
            </p>

            <a href="{{ path('app_user') }}">
                <button class="bg-blue border border-blue rounded-full text-white w-48 py-3 m-2">
                    Retour
                </button>
            </a>
		</div>
	</div>

{% endblock %}
