{% extends 'base.html.twig' %}

{% block title %}
	Cancel appointment
{% endblock %}

{% block body %}
<div class="container m-auto w-9/12 flex flex-col justify-center items-center">
	 <h1 class="text-3xl text-blue font-bold pb-5">
		Annulation de votre rendez-vous
	</h1>
	<p class="text-brown">
		Votre RDV a bien été annulé.
	</p>

	<button class="bg-blue border-blue rounded-full text-white w-48 py-3 m-2">
		<a href="{{ path('app_user')}}">
			Mon compte
		</a>
	</button>
</div>
{% endblock %}
