{% extends 'base.html.twig' %}

{% block title %}
    Edit appointment
{% endblock %}

{% block body %}
    {% set appointmentDate = appointment.startedAt|date('m/d/Y') %}
    {% set appointmentSchedule = appointment.startedAt|date('H:i') %}
    <div class="container mx-auto py-10 w-full text-center">
        <h1 class="text-3xl text-blue font-bold mb-2">
            Edit appointment
        </h1>
        <p>
            Date : {{ appointmentDate }}
        </p>
        <p>
            Schedule : {{ appointmentSchedule }}
        </p>

        <form action="">
            <button class="bg-blue border-blue rounded-full text-white mt-5 px-10 py-3">
                <a href="{{ path('app_appointment') }}">
                    Confirm
                </a>
            </button>
        </form>
        
    </div>
{% endblock %}
