{% extends 'base.html.twig' %}

{% block title %}Appointment
{% endblock %}

{% block body %}
	<div class="container mx-auto w-9/12 flex flex-col pt-10 text-center">

		<h1 class="text-3xl text-blue font-bold pb-5">
			Book an appointment
		</h1>
		<p>
			Select a date
		</p>

		{# Accordion #}
		<div class="accordion">
		{# set permet d'attribuer une valeur à une variable
					{% set variable = valeur %} 
				#}
		{# Stocker la dernière date affichée #}
		{% set currentDate = null %}

		{# Boucle for pour parcourir les données #}
			{% for appointment in appointments %}
			
			{# Formater la date |date('m/d/Y') #}
			{% set apppointmentDate = appointment.startedAt|date('m/d/Y') %}
			{# Condition pour vérifier s'il existe une nouvelle date #}
				{% if apppointmentDate != currentDate %}
				{% if currentDate is not null %}
				</div>{# Fermer la div précédente #}
			{% endif %}

			<div class="item">		
				{% set currentDate = appointment.startedAt|date('m/d/Y') %}
					<h2 class="border px-10 py-2 mt-10">
						{{ currentDate }}
						{# Afficher la date qu'une seule fois #}
					</h2>
				{% endif %}

					<span class="border">
					{{ appointment.startedAt.format('H:i') }}
					</span>
	
				{% set lastDate = appointment.startedAt|date('m/d/Y') %}
		
			{% if loop.last %}
			</div>
			{# Fermer la dernière div #}
		{% endif %}
	{% endfor %}
			</div>			
		</div>
{% endblock %}
