{% extends 'base.html.twig' %}

{% block title %}
    Confirm appointment
{% endblock %}

{% block body %}
<div class="container m-auto w-9/12 flex flex-col justify-center items-center gap-5">
    <h1 class="font-neuton text-3xl md:text-4xl text-blue font-bold pb-5">
		Confirmation de votre rendez-vous
	</h1>
    <p>
    {% set appointmentDate = appointment.startedAt|format_datetime('full', 'none', locale='fr') %}
    {% set appointmentSchedule = appointment.startedAt|format_datetime('none', 'short', locale='fr') %}
        Félicitations {{ app.user.firstName }}, votre RDV pour le {{ appointmentDate }} à {{ appointmentSchedule }} a été réservé !
    </p>
    <button class="bg-blue border-blue rounded-full text-white w-48 py-3 m-2">
		<a href="{{ path('app_user')}}">
			Mon compte
		</a>
	</button>
</div>
{% endblock %}
