{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
<div class="container mx-auto w-9/12 flex flex-col justify-center items-center py-10 text-center">
	<h1 class="font-neuton text-3xl md:text-4xl text-blue font-bold pb-5">
		Mot de passe oublié ?
	</h1>

	<form action="">
		<input type="email" id="email" name="email" placeholder="Enter your email adress" class="border border-brown rounded-lg w-10/12 md:w-9/12 ps-3 py-2 mb-3">
        <input type="submit" value="Submit" class="btn bg-blue border-2 border-blue rounded-full text-white px-10 py-3 my-3">
	</form>
</div>
{% endblock %}