{% extends 'base.html.twig' %}

{% block title %}Confirm request
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10">
		<div class="flex flex-row justify-center items-center">
			<h2 class="text-3xl text-blue font-bold pb-5">
				Confirm request
			</h2>

			<p class="text-brown pb-5">
				Your request has been sent.
			</p>

			<button class="bg-blue border-2 border-blue rounded-full text-white px-10 py-3">
				Return
			</button>
		</div>
	</div>

{% endblock %}
