<div class="container mx-auto">
	<div class="flex flex-col justify-center items-center">
	<p class="mb-5 text-center text-brown">N'hésitez pas à me contacter !<br>
	Je vous réponds sous 48 heures.</p>
		<input type="text" id="email" placeholder = "Enter your e-mail" class="border border-brown rounded-lg w-9/12 ps-3 py-2 mb-3">
		<textarea name="message" id="message" placeholder="Write your message..." class="border border-brown rounded-lg w-9/12 ps-3 pt-2 pb-36"></textarea>
		<button class="bg-blue border border-blue rounded-full text-white w-48 py-3 mt-5">
		Envoyer
	</button>
	</div>
	</div>
