{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container mx-auto w-9/12 flex flex-col justify-center pt-10 py-5">
	{% include "contact/form.html.twig" %}
	</div>
{% endblock %}
