{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container mx-auto md:w-9/12 flex flex-col justify-center items-center py-5">
		<h1 class="font-neuton text-3xl md:text-4xl text-blue font-bold pb-5">
			Contact
		</h1>
	{% include "contact/form.html.twig" %}
	</div>
{% endblock %}
