{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation et de Vente
{% endblock %}

{% block body %}
	<div class="container mx-auto py-10 w-3/6">
		<div class="flex flex-col justify-start">
			<h1 class="font-neuton text-3xl md:text-4xl md:text-3xl text-blue font-bold pb-5 text-center">
				Conditions Générales d'Utilisation et de Vente
			</h1>
		</div>

		<h2 class="text-3xl md:text-2xl text-blue font-bold">
			Préambule
		</h2>
        <p>
        Les présentes Conditions Générales d'Utilisation et de Vente (les "Conditions") régissent l'utilisation du site [Nom du Site] (le "Site") et l'achat de produits ou services proposés sur celui-ci. En accédant au Site et en effectuant un achat, vous acceptez sans réserve les présentes Conditions.
        </p>
		
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 1 - Définitions
		</h2>
        <ul>
            <li>
                <b>Site</b> : le site internet accessible à l'adresse [URL du Site].
            </li>
            <li>
                <b>Utilisateur</b> : toute personne physique ou morale visitant ou utilisant le Site.
            </li>
            <li>
                <b>Client</b> : toute personne physique ou morale procédant à un achat sur le Site.
            </li>
            <li>
                <b>Produit</b> : tout bien ou service proposé à la vente sur le Site.
            </li>
            <li>
                <b>Vendeur</b> : [Nom de l'entreprise], l'éditeur du Site.
            </li>
        </ul>
		
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 2 - Acceptation des Conditions
		</h2>
        <p>
            L'accès au Site et l'utilisation de ses services impliquent l'acceptation pleine et entière des présentes Conditions. Le Vendeur se réserve le droit de modifier à tout moment les Conditions, les nouvelles versions étant applicables dès leur mise en ligne sur le Site.
        </p>
		
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 3 - Utilisation du Site
		</h2>
        <ul>
            <li>
                3.1 <b>Accès au Site</b>
                <p>
		            Le Site est accessible gratuitement à tout Utilisateur disposant d'un accès à Internet. Tous les frais relatifs à l'accès au Site, que ce soit les frais matériels, logiciels ou d'accès à Internet, sont exclusivement à la charge de l'Utilisateur.
                </p>
            </li>
            <li>
              3.1 <b>Accès au Site</b>
                <p>
		            Le Site est accessible gratuitement à tout Utilisateur disposant d'un accès à Internet. Tous les frais relatifs à l'accès au Site, que ce soit les frais matériels, logiciels ou d'accès à Internet, sont exclusivement à la charge de l'Utilisateur.
                </p>
            </li>
            <li>
              3.2 <b>Inscription et Compte Utilisateur</b>
                <p>
		            Pour passer commande, l'Utilisateur peut être invité à créer un compte. L'Utilisateur s'engage à fournir des informations exactes et à jour et à mettre à jour ses informations en cas de changement.
                </p>
            </li>
             <li>
              3.3 <b>Comportement des Utilisateurs</b>
                <p>
		        L'Utilisateur s'engage à utiliser le Site de manière conforme aux présentes Conditions et aux lois en vigueur. Toute utilisation abusive, frauduleuse ou contraire à l'ordre public est interdite.
                </p>
            </li>
        </ul>

		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 4 - Produits et Services
		</h2>
        <ul>
           <li>
        	4.1 <b>Description des Produits</b>
                <p>
                Les Produits proposés à la vente sont ceux décrits sur le Site. Le Vendeur apporte le plus grand soin dans la présentation et la description des Produits pour fournir des informations aussi précises que possible.
                </p>
            </li>
            <li>
                4.2 <b>Disponibilité des Produits</b>
                <p>
                Les offres de Produits sont valables dans la limite des stocks disponibles. En cas d'indisponibilité du Produit après passation de la commande, le Vendeur en informera le Client dans les plus brefs délais et proposera un produit de remplacement ou le remboursement.
                </p>
            </li>
        </ul>
     
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 5 - Commandes
		</h2>
        <ul>
            <li>
            5.1 <b>Passation de la Commande</b>
                <p>
                    Le Client passe sa commande en suivant le processus indiqué sur le Site. Le Client reçoit un e-mail de confirmation récapitulant les éléments de la commande.
                </p>
            </li>
            <li>
            5.2 <b>Validation de la Commande</b>
                <p>
                    La commande est considérée comme définitive après confirmation par le Vendeur et réception du paiement intégral.
                </p>
            </li>
            <li>
            5.3 <b>Prix et Modalités de Paiement</b>
                <p>
                    Les prix des Produits sont indiqués en euros, toutes taxes comprises (TTC). Le paiement s'effectue en ligne par les moyens de paiement proposés sur le Site.
                </p>
            </li>        
        </ul>

		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 6 - Livraison
		</h2>
        <ul>
            <li>
            	6.1 <b>Délai de Livraison</b>
                <p>  
		            Les délais de livraison sont indiqués sur le Site et peuvent varier en fonction du Produit et du lieu de livraison. Le Vendeur s'efforce de respecter les délais annoncés.
                </p>
            </li>
            <li>	
		        6.2 <b>Frais de Livraison</b>
                <p>
		            Les frais de livraison sont indiqués au Client avant la validation de la commande.
                </p>
            </li>
            <li>
                6.3 <b>Problèmes de Livraison</b>
                <p>
		            En cas de retard ou de non-réception de la commande, le Client doit contacter le service client du Vendeur pour signaler le problème.
                </p>
            </li>
        </ul>

		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 7 - Droit de Rétractation
		</h2>
        <ul>
            <li>
            	7.1 <b>Conditions de Rétractation</b>
		<p>Le Client dispose d'un délai de 14 jours à compter de la réception de la commande pour exercer son droit de rétractation, sans avoir à justifier de motifs ni à payer de pénalités.</p>
            </li>
            <li>
            7.2 <b>Modalités de Retour</b>
		<p>Pour exercer son droit de rétractation, le Client doit notifier sa décision par écrit et renvoyer les Produits dans leur état d'origine. Les frais de retour sont à la charge du Client.</p>
            </li>
            <li>
		7.3 <b>Remboursement</b>
		<p>Le Vendeur s'engage à rembourser le Client dans un délai de 14 jours à compter de la réception des Produits retournés.</p>
            </li>
        </ul>
	
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 8 - Garanties et Responsabilité
		</h2>
        <ol>
            <li>8.1 <b>Garanties Légales</b>
                <p>
                Le Vendeur est tenu des défauts de conformité des Produits conformément aux dispositions légales en vigueur.
                </p>
            </li>
            <li>8.2 <b>Limitation de Responsabilité</b>
                <p>
                La responsabilité du Vendeur ne saurait être engagée en cas de dommage résultant d'une mauvaise utilisation du Produit par le Client ou en cas de force majeure.
                </p>
            </li>
        </ol>
		
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 9 - Protection des Données Personnelles
		</h2>
        <p>
        Les données personnelles du Client sont traitées conformément à notre [Politique de Confidentialité](URL vers la politique de confidentialité).
        </p>
		
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 10 - Propriété Intellectuelle
		</h2>
		<p>Tous les éléments du Site, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive du Vendeur.</p>
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 11 - Litiges
		</h2>
		<p>En cas de litige, les parties s'efforceront de trouver une solution amiable. À défaut, les tribunaux français seront compétents pour connaître de tout litige relatif à l'application des présentes Conditions.</p>
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Article 12 - Contact
		</h2>
		Pour toute question ou réclamation, le Client peut contacter le service client du Vendeur à l'adresse suivante :
		
		Adresse e-mail de contact : [Adresse e-mail de contact]
		Adresse postale : [Adresse complète pour contact postal]
		<h2 class="text-3xl md:text-2xl text-blue font-bold pt-5">
			Conclusion
		</h2>
		<p>En utilisant le Site et en passant commande, le Client reconnaît avoir lu, compris et accepté les présentes Conditions Générales d'Utilisation et de Vente.</p>
		<p>
        Date de mise à jour : [Date]
        </p>
		
	</div>
{% endblock %}
